{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="home-page">
    <h1>Bienvenue sur Entropy</h1>
    <p>Votre application sécurisée pour gérer les utilisateurs et calculer l'entropie des mots de passe.</p>
    <!-- Ajouter le préfixe du Blueprint 'ApiUser.' devant les endpoints -->
    <a class="btn" href="{{ url_for('ApiUser.register') }}">Inscription</a>
    <a class="btn" href="{{ url_for('ApiUser.login') }}">Connexion</a>
</div>
{% endblock %}
